
header {
	text-align: center;
}

.parrafo {
	padding-left: 20px;
}

/*cabezera*/

.cabezera {
	padding: 20px;
	padding-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.cabezeraNav {
	display: flex;
	align-items: center;
}

.cabezeraElemento {
	padding: 10px;
}

/*portada*/

.portada {
	padding: 20px;
	display: flex;
}

.portadaElemento {
	display: fix;
	align-items: center;
	justify-content: space-between;
}

.portadaElementoElemento {
	padding: 5px;
	padding-left: 40px;
	text-align: left;

}

.portadaElementoElementoH1 {
	padding: 5px;
	padding-left: 35px;
	text-align: left;
}

/*redes*/

.listaRedes {
	padding-left: 0px;
	text-align: center;
	display: inline-flex;
}

.redes {
	padding: 10px;
	list-style: none;
}

/*seccionMi*/

.acercaDeMi {
	height: 250px;
}

/*pasatiemposHabilidades*/

.pasatiemposHabilidades {
	
}

/*skills*/

.navSkills {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	height: 400px;
}

.ulSkills {
	display: flex;
	flex-wrap: wrap;
}	

.liSkills {
    border-radius: 10px;
	width: 22%;
	height: 160px;
	margin: 10px;
}	

.skillsImagen {
	height: 80px;
	width: 80px;
	padding: 10px;
}

.parrafoSkills {
	padding-left: 10px;
}

/*Hobbies*/

.navHobbies {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	height: 200px;
}

.ulHobbies {
	display: flex;
	flex-wrap: wrap;
}	

.liHobbies {
    border-radius: 10px;
	width: 22%;
	height: 160px;
	margin: 10px;
}	

.hobbiesImagen {
	height: 80px;
	width: 80px;
}

.parrafoHobbies {
	padding-left: 10px;
}

/*Formacion*/

.navFormacion {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	height: 470px;
}

.ulFormacion {
	display: flex;
	flex-wrap: wrap;
}	

.liFormacion {
    border-radius: 10px;
	width: 30%;
	height: 200px;
	margin: 10px;
}	

.formacionImagen {
	height: 80px;
	width: 80px;
}

.parrafoFormacion {
	padding-left: 10px;
}

/*Proyectos*/

.proyectos {
	display: fixed;
	flex-direction: column;
	text-align: center;
}

.divProyectos {
	padding: 20px;
    padding-left: 5%;
	display: flex;
	flex-direction: row;
	width: 90%;
}

.proyectosImagen {
	width: 80%;
}

.izqProyectos {
	width: 10%;
}

.derProyectos {
	width: 10%;
}

.flechas {
	width: 100%;
}

.divProyectosBotones {
	padding: 20px;
	padding-top: 0px;
    padding-left: 14%;
	display: flex;
	flex-direction: row;
	width: 80%;
}

.botonesProyectos {
	text-align: center;
	height: 40px;
	width: 45%;
}

/*Formulario*/

.tituloContacto {
	padding: 20px;
}

.contacto {
	text-align: center;
}

.navContacto {
	height: 500px;
	text-align: center;
	display: inline-flex;
}

.ulContacto {
	align-content: center;
	margin-top: 40px;
	padding: 0px;
}

.liContactoTitulo {
	padding: 0px;
	margin: 0px;
	font-weight: bold;
	font-style: oblique;
}

.contactoTituloP {
	padding: 0px;
	margin: 0px;
}

.liContacto {
	width: auto;
	height: auto;
	margin: 5px;
}

.inputContacto {
	height: 30px;
	width: 330px;
	text-align: center;
}

.textareaContacto {
	height: 130px;
	width: 325px;
	size: fixed;
}

.buttonContacto {
	height: 40px;
	width: 340px;
}

#contactoFoto {
	margin: 40px;
	height: 82%;
	width: 35%;
}

/*Pie de pagina*/

.parrafoPie {
	padding-left: 20px;
}

@media(max-width: 768px){

	header {
		text-align: center;
	}

	/*cabezera*/

	.cabezera {
		display: none;
	}

	/*portada*/

	.portada {
		display: block;
		align-items: center;
	}

	.portadaElementoElemento {
		padding: 5px;
		text-align: left;
	}

	.portadaElementoElementoH1 {
		padding: 5px;
		padding-left: 5px;
		text-align: left;
	}

	.listaRedes {
		padding-left: 0px;
		text-align: center;
		display: inline-flex;
	}

	/*seccionMi*/

	.acercaDeMi {
		height: 400px;
	}

	/*skills*/

	.navSkills {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		height: 500px;
	}

	.ulSkills {
		display: flex;
		flex-wrap: wrap;
	}	

	.liSkills {
	    border-radius: 10px;
		width: 40%;
		height: 110px;
		margin: 5px;
	}	

	.skillsImagen {
		height: 50px;
		width: 50px;
		padding: 5px;
	}

	.parrafoSkills {
		padding-left: 10px;
	}

	/*Hobbies*/

	.navHobbies {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		height: 260px;
	}

	.liHobbies {
    border-radius: 10px;
	width: 40%;
	height: 110px;
	margin: 5px;
	}	

	.hobbiesImagen {
		height: 50px;
		width: 50px;
		padding: 5px;
	}

	.parrafoHobbies {
		padding-left: 10px;
	}

	/*Formacion*/

	.navFormacion {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		height: 880px;
	}

	.ulFormacion {
		display: flex;
		flex-wrap: wrap;
	}	

	.liFormacion {
	    border-radius: 10px;
		width: 80%;
		height: 190px;
		margin: 10px;
		text-align: center;
	}	

	.formacionImagen {
		height: 80px;
		width: 80px;
	}

	.parrafoFormacion {
		padding-left: 10px;
	}

	/*Proyectos*/

	.proyectos {
		display: fixed;
		flex-direction: column;
		text-align: center;
	}

	.divProyectos {
		padding: 20px;
	    padding-left: 5%;
		display: flex;
		flex-direction: row;
		width: 90%;
	}

	.proyectosImagen {
		width: 80%;
	}

	.botones {
		width: 10%;
	}

	.flechas {
		width: 100%;
	}

	/*Contacto*/

	.ulContacto {
		align-content: center;
		margin-top: 5px;
		padding: 0px;
	}

	.inputContacto {
		height: 30px;
		width: 300px;
		text-align: center;
	}
	
	.textareaContacto {
		height: 130px;
		width: 300px;
		size: fixed;
	}
	
	.buttonContacto {
		height: 40px;
		width: 300px;
	}	

	#contactoFoto {
		display: none;
	}

}